<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script defer type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<body>
<div>
    <h1 class="text-center m-2">Manage Customer | [[${pageTitle}]]</h1>
</div>

<div>
    <form enctype="multipart/form-data" method="post" style="max-width: 700px; margin: 0 auto"
          th:action="@{/projects/submit}"
          th:object="${project}">
        <input type="hidden" th:field="*{id}"/>
        <div class="border border-secondary rounded p-3">
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" name="name" placeholder="Enter name" required
                           th:field="*{name}" type="text"/>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input class="form-control" name="description" placeholder="Enter description" required
                           th:field="*{description}" type="text"/>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-form-label col-sm-4">Customer</label>
                <div class="col-sm-8">
                    <select th:type="text" th:field="*{customer}" required>
                        <option th:each="customer : ${listCustomers}"
                                th:text="${customer.name}"
                                th:value="${customer.id}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label">Start date</label>
                <div class="col-sm-8">
                    <input class="form-control" name="startDate" placeholder="Enter start date" required
                           th:field="*{startDate}" type="date"/>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label">End date</label>
                <div class="col-sm-8">
                    <input class="form-control" name="endDate" placeholder="Enter end date" required
                           th:field="*{endDate}" type="date"/>
                </div>
            </div>

            <div class="text-center p-3">
                <input  type="submit" value="Save" class="btn btn-primary m-3"/>
            </div>
        </div>
    </form>
</div>

</body>
</html>