<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity5>
<head>
    <meta charset="UTF-8">
    <title>List of Project records</title>
    <link rel="stylesheet" th:href="@{/fontawesome/all.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{records/new}" sec:authorize="hasAnyAuthority('Employee')">New Record</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasAnyAuthority('Admin')" th:href="@{records/statistics}">Statistics</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <h1 class="text-center text-primary">List of Project records</h1>
</div>
<div class="alert alert-success text-center" th:if="${message!=null}">
    [[${message}]]
</div>
<div class="position-relative m-2 mx-4 me-auto">
    <form th:action="@{records}" method="get">
        <input type="text" name="keyword" th:value="${keyword}" placeholder="Search by keyword..."/>
        <input type="number" name="weekNumber" th:value="${weekNumber}"
               placeholder="Filter by week number..."/>
        <button type="submit">Search</button>
    </form>
</div>
<div>
    <table class="table table-bordere   d table-stripped table-hover table-responsive">
        <thead class="table-dark">
        <tr>
            <th>Project</th>
            <th>User</th>
            <th>Summary</th>
            <th>status</th>
            <th>Date</th>
            <th>Work duration</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record:${listRecords}">
            <td>[[${record.project.name}]]</td>
            <td>[[${record.project.user.firstName}]]</td>
            <td>[[${record.summary}]]</td>
            <td>[[${record.status}]]</td>
            <td>[[${record.date}]]</td>
            <td>[[${record.hoursWorked}]]</td>
            <td>
                <a class="fa-solid fa-pen-to-square icon-green fa-2x" th:href="@{'/records/edit/' + ${record.id}}"
                   title="Edit record"></a>
                &nbsp;
                <a class="fa-solid fa-trash icon-dark fa-2x link-delete" th:href="@{'/records/delete/' + ${record.id}}"
                   th:userId="${record.id}"
                   title="Delete record"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>