<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" th:href="@{/fontawesome/all.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<body>
<div class="container">
    <h1>Manage Users</h1>

<div class="alert alert-success text-center" th:if="${message!=null}">
    [[${message}]]
</div>

<div >
    <table class="table table-bordered table-stripped table-hover table-responsive">
        <thead class="table-dark">
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Roles</th>
            <th>Create Date</th>
            <th>Enabled</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${listUsers}">
            <td>[[${user.id}]]</td>
            <td>[[${user.username}]]</td>
            <td>[[${user.firstName}]]</td>
            <td>[[${user.lastName}]]</td>
            <td>[[${user.roles}]]</td>
            <td>[[${user.createdAt}]]</td>
            <!--            <td>[[${user.enabled}]]</td>-->
            <!--            <td>Edit &nbsp; Delete</td>-->
            <td>
                <a th:if="${user.enabled==true}" class="fas fa-check-circle fa-2x icon-green"
                   th:href="@{'/users/'+ ${user.id} + '/enabled/false'}" title="Disable this User"></a>
                <a th:if="${user.enabled==false}" class="fas fa-circle fa-2x icon-dark"
                   th:href="@{'/users/'+ ${user.id} + '/enabled/true'}" title="Enable this User"></a>
            </td>

            <td>
                <a class="fa-solid fa-pen-to-square icon-green fa-2x" th:href="@{'/users/edit/' + ${user.id}}"
                   title="Edit User"></a>
                &nbsp;
                <a class="fa-solid fa-trash icon-dark fa-2x link-delete" th:href="@{'/users/delete/' + ${user.id}}"
                   th:userId="${user.id}"
                   title="Delete User"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>