<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container-fluid text-center p-4">
    <form th:action="@{/login}" method="post" style="max-width: 350px;margin:0 auto">
        <div th:if="${param.error}">
<!--            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>-->
            <p class="text-danger">[[${param.error}]]</p>
        </div>
        <div th:if="${param.logout}">
            <p class="text-warning">You have been logged out...</p>
        </div>
        <div class="border border-secondary rounded p-3">
            <h2>Login </h2>
            <p>
                <input type="username" name="username" class="form-control" placeholder="username" required/>
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required/>
            </p>
            <p>
                <input type="submit" value="Login" class="btn btn-primary">
            </p>
        </div>
    </form>
  </div>

</body>
</html>