<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit a Customer</title>
</head>
<body>
<form th:action="@{/customers/submit}" method="post" th:object="${customer}">
    <input type="hidden" th:field="*{id}">
    <p>Customer's name: <input type="text" th:field="*{name}" required></p>
    <p class="red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <p>Country: <input type="text" th:field="*{country}" required></p>
    <p class="red" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></p>
    <p>Customer's projects: <input type="text" th:field="*{projects}" required></p>
    <p class="red" th:if="${#fields.hasErrors('projects')}" th:errors="*{projects}"></p>
    <p>Contract Expiration: <input type="date" th:field="*{contractExpiration}" required></p>
    <p class="red" th:if="${#fields.hasErrors('contractExpiration')}" th:errors="*{contractExpiration}"></p>
    <input type="submit" value="Submit">
</form>
</body>
</html>