<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create a Project</title>
</head>
<body>
    <form th:action="@{/projects/submit}" method="post" th:object="${project}">
        <p>Project's name: <input type="text" th:field="*{projectName}" required></p>
        <p class="red" th:if="${#fields.hasErrors('projectName')}" th:errors="*{projectName}"></p>
        <p>Project's description: <input type="text" th:field="*{description}" required></p>
        <p class="red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
        <label class="col-form-label col-sm-4">Customer</label>
        <div class="col-sm-8">
            <select th:type="text" th:field="*{customer}" required>
                <option th:each="customer : ${listCustomers}"
                        th:text="${customer.name}"
                        th:value="${customer.id}"></option>
            </select>
        </div>
        <p class="red" th:if="${#fields.hasErrors('customer')}" th:errors="*{customer}"></p>
        <p>Start date: <input type="date" th:field="*{startDate}" required></p>
        <p class="red" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
        <p>End date: <input type="date" th:field="*{endDate}" required></p>
        <p class="red" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>