<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script defer type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<body>
<div>
    <h1 class="text-center m-2">Manage Roles | [[${pageTitle}]]</h1>
</div>

<div>
    <form enctype="multipart/form-data" method="post" style="max-width: 700px; margin: 0 auto"
          th:action="@{/roles/submit}"
          th:object="${role}">
        <input type="hidden" th:field="*{id}"/>
        <div class="border border-secondary rounded p-3">
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input class="form-control" name="username" placeholder="Enter description"
                           th:field="*{description}" type="text"/>
                    <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description is required</p>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-form-label col-sm-4">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" name="name" placeholder="Enter name" required
                           th:field="*{name}" type="text"/>
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name is required (maximum length 40 characters)</p>
                </div>
            </div>
            <div class="text-center p-3">
                <input type="submit" value="Save" class="btn btn-primary m-3"/>
                <input type="button" value="Cancel" class="btn btn-secondary" onclick="cancel()"/>
            </div>
        </div>
</form>
</div>

<script>
function cancel() {
    window.location.href = "/roles";
}
</script>
</body>
</html>