<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Manage Roles</title>
    <link rel="stylesheet" th:href="@{/fontawesome/all.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<body><nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{users/new}">New Role</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
      <a class="nav-link" th:href="@{/roles/new}">NEW</a>
    <h1>Manage Roles</h1>

    <div class="alert alert-success text-center" th:if="${message!=null}">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered table-stripped table-hover table-responsive">
            <thead class="table-dark">
            <tr>
                <th>User ID</th>
                <th>Description</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="role:${listRoles}">
                <td>[[${role.id}]]</td>
                <td>[[${role.description}]]</td>
                <td>[[${role.name}]]</td>
                <td>
                    <a class="fa-solid fa-pen-to-square icon-green fa-2x" th:href="@{'/roles/edit/' + ${role.id}}"
                       title="Edit Role"></a>
                    &nbsp;
                    <a class="fa-solid fa-trash icon-dark fa-2x link-delete" th:href="@{'/roles/delete/' + ${role.id}}"
                       th:userId="${role.id}"
                       title="Delete Role"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>